    
.horizontalFoodList  {
  
    --titleSize: clamp(0.4rem, 4vw, 1.5rem); 
    --textSize: clamp(0.4rem, 2.5vw, 1rem); 
    --smallestText: clamp(0.3rem, 2vw, 0.9rem); 
    --iconSize: clamp(0.5rem, 3vw, 3rem);
    --smallerIconSize: clamp(1rem, 3vw, 2rem);
    --paddingBottom: clamp (5rem, 10vw, 5rem);
    --fontFamily: 'Gill Sans',  Calibri, sans-serif;
    --imageProfileSize: clamp(3rem, 6vw + 1rem, 4vw);
    --responsiveSpace: clamp(0.6rem, 2vw, 0.5vw); 
    --smallerResponsiveSpace: clamp(0.4rem, 2vw, 0.5vw); 
    --white: #fff;
    --borderWidrth: clamp(0.09rem, 1.2vw, 0.2vw);
}





@media (prefers-color-scheme: dark) {
    :root {
        --primary: #6043D5;
        --primaryColorLinear: #B200D1;
        --secondPrimaryColor: #DBE9F7;
        
        --widgetFontColor: #fff;
        --fontColor: #fff;
        --backgroundColor: #202124;
        --widgetColor: #393F48;
    }
    }
    
    @media (prefers-color-scheme: light) { 
    :root {
        --primary: #6043D5;
        --primaryColorLinear: #B200D1;
        --secondPrimaryColor: #DBE9F7;
        --fontColor: #202124;
        --widgetFontColor: #202124;
        --backgroundColor: #fff;
        --widgetColor: #F9F9F9;
    }
    }


    
.horizontalFoodList    .main {
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

    .horizontalFoodList {
        /* margin-right: -2%;
        margin-left: -2%; */
        width: 100%;
    }






    

.horizontalFoodList    .swiper {
        width: 100%;
        height: 100%;
      }

     
      
  .horizontalFoodList    .swiper-slide {
        text-align: center;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.5s ;
      }

    .horizontalFoodList     .swiper-slide:hover {
        transform: scale(0.98);
        transition: all 0.5s ;
      }
      
    .horizontalFoodList    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    

   .horizontalFoodList    .swiperImage {
        border-top-right-radius: var(--smallerResponsiveSpace);
        border-top-left-radius: var(--smallerResponsiveSpace)

        }


     .horizontalFoodList    .swiperTextDiv {
            padding: 1vw;
            background-color: var(--backgroundColor);
            margin-bottom: 3rem;
            border-bottom-left-radius: var(--smallerResponsiveSpace);
            border-bottom-right-radius: var(--smallerResponsiveSpace)
            }

        .horizontalFoodList    .mySwiper .swiper-button-next:after {
                font-size: var(--iconSize);
            }

        .horizontalFoodList    .mySwiper .swiper-button-prev:after {
                font-size: var(--iconSize);
            }

            




        .horizontalFoodList    .mySwiper .swiper-button-prev {
               
                padding: var(--smallerIconSize);
                border-radius: 50rem;
                background-color: var(--fontColor);
                color: var(--primary);
                
               
                
            }

        .horizontalFoodList    .mySwiper .swiper-button-next {
                padding: var(--smallerIconSize);
                border-radius: 50rem;
                background-color: var(--fontColor);
                color: var(--primary);
                

            }
        


.horizontalFoodList    .title {
        color: var(--fontColor);
        font-size: clamp(0.4rem, 2.5vw, 1.5rem);
        font-family: var(--fontFamily);
        /* font-family: var(--fontFamily);
        font-weight:200; */
    }
   
.horizontalFoodList .subTitle{
        color: var(--fontColor); 
        font-size: clamp(0.4rem, 2.5vw, 1rem);
        font-family: var(--fontFamily);
        /* font-family: var(--fontFamily);  */
    }

    .horizontalFoodList .priceTextDiv {
        display: flex;
        align-items: center;
        width: 110%;
        
        border-top: solid var(--widgetColor);
        border-width: 0.1rem;
        margin-top: 2.5%;
        padding: 2.5%;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
        margin-right:-2.5%;
        margin-left: -5%;
    }
    .horizontalFoodList .priceTextDiv .title {
        margin-left: var(--smallerResponsiveSpace);
        margin-right: var(--smallerResponsiveSpace);
        font-size: var(--smallestText);
        font-family: var(--fontFamily);
    }

    .horizontalFoodList .priceTextDiv .subTitle {
        margin-right: var(--smallerResponsiveSpace);
        font-size: var(--smallestText);
        font-family: var(--fontFamily);
    }



    
    
        /*#TODO mobile                                                                  */
        @media (max-width: 555.56px) { 
        .horizontalFoodList    .mySwiper .swiper-button-prev {
                display: none;
            }
        .horizontalFoodList    .mySwiper .swiper-button-next {
                display: none;
            }
          
           
        }    
       
    
    
    
        
    
    