.profileMenu  {
    --primary: #6043D5;
    --primaryColorLinear: #B200D1;
    --secondPrimaryColor: #DBE9F7;
    
    --widgetFontColor: #fff;
    --fontColor: #fff;
    --backgroundColor: #202124;
    --widgetColor: #393F48;
    --titleSize: clamp(1rem, 3vw, 1.2vw); 
    --textSize: clamp(0.8rem, 3vw, 1vw); 
    --iconSize: clamp(2rem, 30vw, 10rem);
    --imageProfileSize: clamp(rem, 6vw + 1rem, 4vw);
    --responsiveSpace: clamp(0.6rem, 2vw, 0.5vw); 
    --smallerResponsiveSpace: clamp(0.4rem, 2vw, 0.5vw); 
    --white: #fff;
    --padding: clamp(0.4rem, 4vw, 2rem); 
}



@media (prefers-color-scheme: dark) {
    :root {
        --primary: #6043D5;
        --primaryColorLinear: #B200D1;
        --secondPrimaryColor: #DBE9F7;
        
        --widgetFontColor: #fff;
        --fontColor: #fff;
        --backgroundColor: #202124;
        --widgetColor: #393F48;
    }
    }
    
    @media (prefers-color-scheme: light) { 
        :root {
            --primary: #6043D5;
            --primaryColorLinear: #B200D1;
            --secondPrimaryColor: #DBE9F7;
            --fontColor: #202124;
            --widgetFontColor: #202124;
            --backgroundColor: #fff;
            --widgetColor: #F9F9F9;
        }
    }

    @media(max-width: 550px) {

    }

    
    
    
    
    
    /* //#111 header styling */
    .profileMenu {
        background: transparent;
        display:flex;
        margin-left: 2%;
        margin-right: 2%;
    }

    .profileMenu .customNavLink {
        /* margin-right: var(--smallerResponsiveSpace);
        margin-left: var(--smallerResponsiveSpace); */
        border-radius: 1.5rem;
        margin-top: var(--smallerResponsiveSpace);
        margin-bottom: var(--smallerResponsiveSpace);
        padding: var(--padding);
        background-color: var(--backgroundColor);
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid transparent;
        border-color: transparent;
        width: fit-content;
    }

    /* .profileMenu .nav-link {

    } */


    

    .profileMenu .customNavLink i {
        display: inline-block;

        /* margin: 0rem 1rem 1rem 1rem; */
        color: var(--white);
    }


        
    .profileMenu .customNavLink:active {
            background-color: red;
            
    }


  

    .profileMenu .customNavLink:hover {
        /* border-bottom: solid var(--white); */
        background-color: var(--primaryColorLinear);
        border-radius: 1.5rem;
        
    } .profileMenu .customNavLink:hover i {
        color: var(--white);
        /* transition: all 0.2s ; */
        
       }
       

      .profileMenu .activeNavLink {
        border-radius: 1.5rem;
        /* margin-right: var(--smallerResponsiveSpace);
        margin-left: var(--smallerResponsiveSpace); */
       
        margin-top: var(--smallerResponsiveSpace);
        margin-bottom: var(--smallerResponsiveSpace);
        padding: var(--padding);
        background-color: var(--primary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid transparent;
        border-color: transparent;
        width: fit-content;
  

        /* // */
    } .profileMenu .activeNavLink i {
        display: inline-block;
        color: var(--white); 
        
        }

        .profileMenu .navigationIconDiv {
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size:  clamp(1.5rem, 6vw, 2.5rem);
        }



    



    @media only screen and (max-width: 700px) {
       

    }

    @media only screen and (max-width: 767px) {
       
    
    }

    @media (max-width: 550px) {
        .profileMenu{
            display: flex;
        }
    }