/* ::-webkit-scrollbar {
    height: 0.2rem;
    border: 1px;
    border-radius: 20rem;
    width: 10rem;

  }

  ::-webkit-scrollbar-thumb:horizontal{
    background-color: white;
    border-radius: 10rem;
} */