.customSearchComponent {
    --primary: #6043D5;
    --primaryColorLinear: #B200D1;
    --secondPrimaryColor: #DBE9F7;
    
    --widgetFontColor: #fff;
    --fontColor: #fff;
    --backgroundColor: #202124;
    --widgetColor: #393F48;
    --titleSize: clamp(1rem, 3vw, 1.2vw); 
    --textSize: clamp(0.8rem, 3vw, 1vw); 
    --iconSize: clamp(0.8rem, 1.2vw, 1rem );
    --imageProfileSize: clamp(3rem, 6vw + 1rem, 4vw);
    --responsiveSpace: clamp(0.6rem, 2vw, 0.5vw); 
    --smallerResponsiveSpace: clamp(0.4rem, 2vw, 0.5vw); 
    --white: #fff;
}


 



@media (prefers-color-scheme: dark) {
    :root {
        --primary: #6043D5;
        --primaryColorLinear: #B200D1;
        --secondPrimaryColor: #DBE9F7;
        
        --widgetFontColor: #fff;
        --fontColor: #fff;
        --backgroundColor: #202124;
        --widgetColor: #393F48;
    }
    }
    
    @media (prefers-color-scheme: light) { 
        :root {
            --primary: #6043D5;
            --primaryColorLinear: #B200D1;
            --secondPrimaryColor: #DBE9F7;
            --fontColor: #202124;
            --widgetFontColor: #202124;
            --backgroundColor: #fff;
            --widgetColor: #F9F9F9;
        }
    }

    @media(max-width: 550px) {
        .customSearchComponent  {
            /* --iconSize: 1.5rem;     */
            --iconSize: clamp(0.3rem, 2.0vw, 1.8rem );
        }
    }







        /* //#search #555 */

        .customSearchComponent {
           
            display: flex;
            align-items: center;
            background-color: var(--fontColor);
            margin-bottom: auto;
            padding-inline: var(--smallerResponsiveSpace);
            border-radius: 5rem;
            font-size: var(--iconSize);
         } .customSearchComponent .customTextInput{
             border: solid transparent;
             font-size: var(--iconSize);
             background-color: transparent;
             max-height: 60px;
             width: fit-content;
             font-weight: 500;
             height: 0;
             padding-left: 0;
             padding-right: 0;
            
         }




         @media(max-width: 550px) {
            .customSearchComponent .customTextInput{
                    border: solid transparent;
                    font-size: var(--iconSize);
                    background-color: transparent;
                    max-height: 30px;
                    height: fit-content;
                    width: 100%;

                }
       
            }
             
