    
.verticalInfo {
  
    --pageTitleSize: clamp(0.9rem, 2vw, 0.9rem); 
    --titleSize: clamp(0.2rem, 0.2vw, 0.5rem); 
    --textSize: clamp(0.5rem, 1.3vw, 0.7rem); 
    --iconSize: clamp(1.5rem, 5vw, 2.2rem);

    --titleSpace:  clamp(0.5rem, 1.5vw, 1rem); 

    --itemTitleSize: clamp(0.8rem, 3vw, 2rem); 
    
    --itemSubTitleSize: clamp(0.5rem, 2.8vw, 1.5rem); 


    --iconSize: clamp(0.5rem, 3vw, 3rem);
    --smallerIconSize: clamp(1rem, 3vw, 2rem);
    --paddingBottom: clamp(5rem, 10vw, 5rem);
    --radius: clamp(1rem, 7vw, 5rem);

    --imageHeight: clamp(10rem, 25vw, 20rem);
    
    --bottomPosition: clamp(3.5rem, 18vw, 16rem);
    --imageProfileSize: clamp(7rem, 28vw, 24rem);
    --responsiveSpace: clamp(0.6rem, 2vw, 0.5vw);
  
    --smallerResponsiveSpace: clamp(0.4rem, 2vw, 0.5vw); 
    --white: #fff;
    --borderWidrth: clamp(0.09rem, 1.2vw, 0.2vw);

    --fontFamily: 'Gill Sans',  Calibri, sans-serif;

    --marginBottom: 2.5%;
    --lightBlack: rgba(0, 0, 0, 0.3);
}





@media (prefers-color-scheme: dark) {
    .verticalInfo {
        --primary: #6043D5;
        --primaryColorLinear: #B200D1;
        --secondPrimaryColor: #DBE9F7;
        --greenColorLinear: #EBF7FD;
        
        --widgetFontColor: #fff;
        --fontColor: #fff;
        --lighterFontColor: rgba(255, 255, 255, 0.92);
        --backgroundColor: #202124;
        --widgetColor: #393F48;
        --lightBlack: rgba(0, 0, 0, 0.3);
    }
    }
    
    @media (prefers-color-scheme: light) { 
        .verticalInfo {
            --primary: #6043D5;
            --primaryColorLinear: #B200D1;
            --greenColorLinear: lightGreen;
            --secondPrimaryColor: #DBE9F7;
            --fontColor: #202124;
            --lighterFontColor: rgba(32, 33, 36, 0.92);
            --widgetFontColor: #202124;
            --backgroundColor: #fff;
            --widgetColor: #F9F9F9;
            --lightBlack: rgba(255, 255, 255, 0.3);
            
        }
    }

  




    .verticalInfo {
        display: flex;
        width: 100%;
        overflow: hidden;
        height: auto;
    }
    



    .verticalInfo .firstWidget {
        display: flex;
        flex-direction: column;
        background-color: var(--widgetColor);
        width: 100%;
        max-width: 700px;
        border-radius: 0rem;
        padding-bottom: clamp(0.5rem, 1.5vw, 0.9rem);
        overflow-y: auto;
        color: var(--fontColor);
        overflow-x: hidden;
    } .verticalInfo .mainTitle {
        margin-top: 2.5%;
        font-size: clamp(0.5rem, 1.5vw, 0.9rem);
        font-weight: bold;
        padding-inline: clamp(0.5rem, 1.5vw, 0.9rem);
    }



    .verticalInfo .imageRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        cursor: pointer;
        position: relative;
        z-index: 1;
    }


    .verticalInfo .profileImage {
        min-width: clamp(0.3rem, 0.8vw, 0.7rem);
        aspect-ratio: 1/1;
        z-index: 10;
        padding: 0;
        max-width: 80px;
        border-radius: 50%;
        background-size:cover;
        background-position: center;
        border: 8px solid var(--widgetColor);
        cursor: pointer;
 
    } .verticalInfo .imageRow:hover {
        transition: all 0.2s;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 0.4rem,
    } .nameRow{
        margin-right: auto;
        padding-inline: 10px;
    } .nameTitle {
        font-size: clamp(0.5rem, 1vw, 0.9rem);
        font-weight: 500;
        color: var(--widgetColor);
    } .nameSub {
        font-size: clamp(0.3rem, 0.8vw, 0.7rem);
        font-weight: 300;
        color: var(--fontColor);
    }
    
    
    .verticalInfo .row { 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        padding-inline: var(--titleSpace);
        cursor: pointer;

    } .verticalInfo .rowTitlesDiv {
        margin-block:  clamp(0.5rem, 1vw, 0.9rem);
        display: flex;
        flex-direction: column;
  

    } .verticalInfo .rowTitle{
        font-size: clamp(0.3rem, 0.8vw, 0.7rem) ;
        font-weight: 400;
        text-transform: capitalize;
    } .verticalInfo  .rowSubTitle{
        font-size:  clamp(0.5rem, 1vw, 0.9rem) ;
    } .verticalInfo .row:hover {
        transition: all 0.2s;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 0.4rem,
    } 
    
    .verticalInfo .buttonRow{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        padding-inline: var(--titleSpace);
        cursor: pointer;
        margin-inline: 4%;
        border-radius: 1rem;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .verticalInfo .buttonRowSubTitle {
        font-size:  clamp(0.5rem, 1vw, 0.9rem) ;
    } .verticalInfo .buttonRow:hover{
        transition: all 0.2s;
   
        background-color:var(--backgroundColor);
    }


    .verticalInfo .row-time{ 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        padding-inline: var(--titleSpace);
        margin-bottom: -5%;
    }

    .verticalInfo .rowWords{
        margin-block:2.5%;
        margin-inline: 5%;
        columns: 3;
        display: inline block;
        flex-direction: column;
        
        padding-left: 0;
        padding-right: 0;
    }
    .verticalInfo .categoryRowTitlesDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    } .verticalInfo .categoryRowSubTitle {
        display: flex;
        justify-content: center;
        font-size:  clamp(0.5rem, 1vw, 0.9rem) ;
        font-weight: 400;
        color: lightgreen;
        cursor: pointer;
        border-radius: 2rem;
        padding-inline: 5%;
        width: fit-content;
        
    }  .verticalInfo .categoryRowSubTitle:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
   
    




    @media (max-width: 550px) {
        .verticalInfo {
            overflow: hidden;
            justify-content: flex-start;
            align-items: flex-start;
            padding-top: 1rem;
            background-color: var(--widgetColor);
        }
    }